<!-- make a seperate component for the searchbox and filter -->

<!-- Title & Searchbox-->
<header class="container default-padding">
  <div class="row">
    <div class="col-8 offset-2 text-center">
      <h4>Application</h4>
      <div class="row">
        <div class="col-8 offset-2">
          <div class="form-group">
            <input
              [ngModel]="query | async"
              (keyup)="setQuery($event.target.value)"
              type="text"
              placeholder="Search"
              class="searchfield form-control text-center"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Filters -->
  <div class="row">
    <div class="col-4 offset-2 dropdown">
      <select (change)="setGender($event.target.value)" [ngModel]="gender | async" class="form-control form-control-sm">
        <option value=""></option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <div class="col-4 dropdown">
      <select (change)="setNationality($event.target.value)" [ngModel]="nationality | async" class="form-control form-control-sm">
        <option value=""></option>
        <option>AU</option>
        <option>BR</option>
        <option>CA</option>
        <option>CH</option>
        <option>DE</option>
        <option>DK</option>
        <option>ES</option>
        <option>FI</option>
        <option>FR</option>
        <option>GB</option>
        <option>IE</option>
        <option>IR</option>
        <option>NO</option>
        <option>NL</option>
        <option>NZ</option>
        <option>TR</option>
        <option>US</option>
      </select>
    </div>
  </div>
</header>

<!-- Main -->
<main class="main default-padding">
  <div class="container">

    <div class="text-center" *ngIf="(loading | async)">
      Loading...
    </div>

    <div class="article" *ngFor="let item of (data | async)">
      <h4>Article Title ({{item.login.username}}) -- {{ item.name.first }} {{ item.name.last }}</h4>
      <p>Article Description -- {{ item.nat }} - {{ item.gender }}</p>
    </div>
  </div>
</main>
